<mat-list>
    <mat-list-item>
        <div style="flex: 1 1 100%" class="mat-header-cell">Name</div>
        <div style="flex: 1 1 40%" class="mat-header-cell">Position</div>
        <mat-divider></mat-divider>
    </mat-list-item>
    <mat-list-item *ngFor="let contact of contacts">
        <div matLine>{{contact.name}}</div>
        <div matLine>{{contact.email}}</div>
        <div style="flex: 1 1 40%">{{contact.position}}</div>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>