<div class="examples-container">
    <p>
        toolbars-example works!
    </p>

    <mat-toolbar color="primary" class="example">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <!--  -->
        <span class="toolbar-title" style="margin-left: 16px;">Example Toolbar</span>
        <!--  -->

        <button mat-icon-button>
            <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button (click)="showNotif = !showNotif">
            <mat-icon [matBadge]="showNotif? 2 : ''" matBadgeColor="warn">chat</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar>


    <mat-toolbar color="accent" class="example">
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <!--  -->
            <div class="spacer"></div>
            <!--  -->

            <button mat-icon-button>
                <mat-icon>person</mat-icon>
            </button>
            <button mat-icon-button (click)="showNotif = !showNotif">
                <mat-icon [matBadge]="showNotif? 2 : ''" matBadgeColor="warn">chat</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span class="toolbar-title" style="margin-left: 48px;">Example Toolbar</span>
            <!--  -->
            <div class="spacer"></div>
            
            <!-- <button mat-mini-fab style="margin-top: 56px; margin-right:8px">
                <mat-icon>add</mat-icon>
            </button> -->
            <button mat-fab style="margin-top: 56px;" color="primary">
                <mat-icon>search</mat-icon>
            </button>
            
        </mat-toolbar-row>

    </mat-toolbar>

</div>

<style>
    .example {
        margin: 40px 0;
    }

    .toolbar-title {
        flex: 1 1 0%;
    }

    .spacer {
        flex: 1 1 0%;
    }

    .examples-container {
        max-width: 80%;
        margin: 40px auto;
    }
</style>