<div class="examples-container">
    <p>
        toolbars-example works!
    </p>
    <!-- 
    <mat-toolbar color="primary" class="example">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        
        <span class="toolbar-title" style="margin-left: 16px;">Example Toolbar</span>
        

        <button mat-icon-button>
            <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button (click)="showNotif = !showNotif">
            <mat-icon [matBadge]="showNotif? 2 : ''" matBadgeColor="warn">chat</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar> -->

    <mat-toolbar color="primary" class="example">
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <div class="spacer"></div>
            <button mat-icon-button>
                <mat-icon>person</mat-icon>
            </button>
            <button mat-icon-button (click)="showNotif = !showNotif">
                <mat-icon [matBadge]="showNotif? 2 : ''" matBadgeColor="warn">chat</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="extrasMenu" [matMenuTriggerData]="{
                user: { name: 'alice'}   
            }" #menuTrigger="matMenuTrigger">
                <mat-icon matTooltip="Menu">more_vert</mat-icon>
            </button>

        </mat-toolbar-row>
        <mat-toolbar-row>
            <span class="toolbar-title" style="margin-left: 48px;">Example Toolbar</span>

            <div class="spacer"></div>

            <button mat-fab style="margin-top: 56px;" color="accent">
                <mat-icon>search</mat-icon>
            </button>

        </mat-toolbar-row>

    </mat-toolbar>
    
    <button mat-raised-button (click)="menuTrigger.toggleMenu()">Toogle Menu</button>

</div>

<style>
    .example {
        margin: 40px 0;
    }

    .toolbar-title {
        flex: 1 1 0%;
    }

    .spacer {
        flex: 1 1 0%;
    }

    .examples-container {
        max-width: 80%;
        margin: 40px auto;
    }
</style>



<mat-menu #extrasMenu="matMenu" xPosition="before">
    <ng-template matMenuContent let-currentUser="user">
        <button mat-menu-item [matMenuTriggerFor]="settingMenu">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>
        <button mat-menu-item>
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>
        <button mat-menu-item *ngIf="currentUser">
            <mat-icon>person</mat-icon>
            <span>Log Out</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #settingMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item="">Persmissions</button>
        <button mat-menu-item="">Notifications</button>
        <mat-divider></mat-divider>
        <button mat-menu-item="">Other</button>
    </ng-template>
</mat-menu>