<div class="examples-container">

    <h3 class="mat-display-1">Contacts</h3>


    <div class="row">

        <app-contacts-selection-list class="col" [contacts]="contacts" (selectionChange)="selected = $event">
        </app-contacts-selection-list>

        <ng-container *ngIf="selected">

            <mat-divider vertical="true"></mat-divider>

            <app-contact-details-list class="col" style="margin-left:16px;" [contact]="selected">
            </app-contact-details-list>
        </ng-container>


    </div>

    <!-- <app-simple-contacts-list [contacts]="contacts"></app-simple-contacts-list> -->


</div>
<style>
    .col {
        flex: 1;
    }

    .row {
        display: flex;
    }

    .spacer {
        flex: 1 1 0%;
    }

    .stretch {
        flex: 1 1 100%;
    }

    .example {
        margin: 30px 0;
    }

    .examples-container {
        max-width: 80%;
        margin: 40px auto;
    }
</style>